<h1>Welcome to the home page</h1>
<p><button type="button"><%= link_to 'Routes', controller: 'routes' %></button></p>
<p><button type="button"><%= link_to 'Equipment and Skills', controller: 'equipment' %></button></p>
<p><button><%= link_to 'Arrange Transport', controller: 'articles' %></button></p>
<p><button><%= link_to 'Contact', controller: 'contact' %></button></p>
<p><button><%= link_to 'Staff', controller: 'staff_page' %></button></p>


