<!-- Home page for the application contains buttons embedded with links to different pages --> 
<h1>Home</h1>
<p><button type="button"><%= link_to 'Routes', controller: 'routes' %></button></p>
<p><button type="button"><%= link_to 'Equipment, Skills and Food', controller: 'equipment' %></button></p>
<p><button type="button"><%= link_to 'NoticeBoard', controller: 'posts' %></button></p>
<p><button type="button"><%= link_to 'Contact', controller: 'contact' %></button></p>
<p><button type="button"><%= link_to 'Staff', controller: 'staff_page' %></button></p>


