<h1>Posts</h1>

<% if current_user != true %>
<h3>In order to create a post, please log in or sign up!</h3>
<% end %>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Title</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
    <tr>
      <td><%= post.user %></td>
      <td><%= post.title %></td>
      <td><%= post.content %></td>
      <!-- any user can view a post, signed in or not -->
      <td><%= link_to 'Show', post %></td> 
      <!-- following if-statements allow a signed in user to edit or delete posts they have made -->
      <td><% if current_user && post.user == current_user %>
        <%= link_to 'Edit', edit_post_path(post) %><% end %>
      </td>
      <td><% if current_user && post.user == current_user %>
        <%= link_to 'Remove', post, method: :delete, data: { confirm: 'Are you sure?' } %><% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<br>
<br>
<% if current_user %> 
<p><button type="button"><%= link_to 'New Post', new_post_path %></button></p>
<% end %>
<p><button type="button"><%= link_to 'Home', root_path %></button></p>
<!-- <% end %> -->