<p>
  <strong>User:</strong>
  <%= @post.user %>
</p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>

<h2>Replies</h2>
<% @post.replies.each do |reply| %>
<tr>
  <td>
    <strong>Commenter:</strong>
    <%= reply.commenter %>
  </td>
 
  <td>
    <strong>Comment:</strong>
    <%= reply.body %>
  </td>

  <!-- If statement below allows the owner of the post to delete any comments on the post 
      need to change to also allow the commenter the option of deleting their comment on a post -->
  <td>
    <% if current_user == @post.user %>
      <%= link_to 'Destroy Comment', [reply.post, reply], method: :delete, data: { confirm: 'Are you sure?'} %>
    <% end %>
  </td>
  <br>
</tr>
<% end %>

<h2>Add a Reply!</h2>
<%= form_for([@post, @post.replies.build]) do |f| %>
  <p>
    <%= f.label :commenter %><br>
    <%= f.text_field :commenter %>
  </p>
  <p>
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %> 
<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>