<!-- Page that displays a post and its associated comments -->
<!-- show post user, title and post content -->
<p>
  <strong>User:</strong>
  <%= @post.user %>
</p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>

<!-- display message to non-signed in user -->
<% if current_user == nil %>
  <h2>Please sign in to comment!</h2>
<% end %>

<!-- show replies to the post - replier and reply content -->
<br>
<h2>Replies</h2>
  <% @post.replies.each do |reply| %>
  <tr>
    <td>
      <strong>Commenter:</strong>
        <%= reply.commenter %> <!--show replier -->
    </td>
    <td>
      <strong>Comment:</strong>
      <%= reply.body %> <!-- show reply content --> 
    </td>
    <br>
    <!-- above is the layout for the page - post and related comments. -->
    <td>
      <% if current_user %>
        <% if current_user == @post.user %> <!-- allows the owner of the post to delete any comments on their post -->
          <%= link_to 'Remove Comment', [reply.post, reply], method: :delete, data: { confirm: 'Are you sure?'} %>
        <% end %> 
        <% if current_user ==  reply.user %> <!-- allow reply owner to remove reply -->
          <%= link_to 'Remove Comment', [reply.post, reply], method: :delete, data: { confirm: 'Are you sure?'} %>
        <% end %> 
    </td>
    <br>
  </tr>
  <% end %>
<% end %>

<!-- the following code allows users to post a reply - functionality and layout for this -->
<% if current_user %> <!-- Only displayed in the user is signed in --> 
  <h2>Add a Reply!</h2>
    <%= form_for([@post, @post.replies.build]) do |f| %> <!-- builds form -->
    <%= f.hidden_field(:user_id, :value => current_user.id) %> 
    <!-- this takes in the user_id of the person writing the reply --> 
    <p>
      <p>
        <%= f.label :commenter %>
        <br>
        <%= f.text_field :commenter, :placeholder => "Name" %> <!-- name taken in -->
        <br> 
      </p>
      <p>
        <%= f.label :body %>
        <br>
        <%= f.text_area :body, :placeholder => "Comment" %> <!-- content taken in --> 
      </p>
    <p>
      <%= f.submit %>
    </p>
  <% end %> 
<% end %>
<br>
<br>
<!-- links to edit a post and back to posts index --> 
<!-- if non signed in user tries to access edit it will bring them to log in page --> 
<% if current_user == @post.user %>
  <%= link_to 'Edit |', edit_post_path(@post) %>
<% end %> 
<%= link_to 'Back', posts_path %>







