<!-- index page for routes containing links, in buttons, to all 4 provinces and back to home page-->
<h1>Routes</h1>
<p>Select a province</p>
<p><button type="button"><%= link_to 'Leinster', leinster_routes_path %></button></p>

<p><button type="button"><%= link_to 'Munster', munster_routes_path %></button></p>

<p><button type="button"><%= link_to 'Connacht', connacht_routes_path %></button></p>

<p><button type="button"><%= link_to 'Ulster', ulster_routes_path %></button></p>

<button type="button"><%= link_to 'Home Page', root_path %></button> 