<h2>Previous Leinster MPC Routes</h2>

<p><a href="/leinster2011.pdf">Leinster 2011</a></p>

<p><%= link_to 'Leinster 2010', leinster2010_routes_path %></p>

<p><button type="button"><%= link_to 'Leinster 2010', asset_path('assets/PreviousRoutes/Leinster2010.pdf') %></button></p>

<p><button type="button"><%= link_to 'Leinster 2010', asset_path('assets/Leinster2010.pdf') %></button></p>

<p><button type="button"><%= link_to 'Leinster 2010', image_tag("Leinster2010.png", class: 'img-responsive', alt: 'Logo') %></button></p>

<p><a href="http://mpcteam.ie/Routes/lein06.htm">Leinster 2006</a></p>

<%= link_to 'Routes Homepage', controller:'routes' %>